  <h2><%= @user.name %> 様</h2>

  <p>いつもBouBagをご利用いただき誠にありがとうございます！</p>
　<p>有効期限が残り14日の防災アイテムがあります。</p>

　<p>アイテム名：<%= @item.name %></p>
　<p>有効期限：<%= @item.expiration_date %></p>

　<p>交換して、緊急事態に備えましょう！</p>
　<p>今後ともBouBagを宜しくお願い申し上げます。</p>