<div class="container">

  <div class="row mb-3 border-bottom">
    <div class="col-lg-3 col-md-3 col-sm-3 col-3 mr-5">
      <%= attachment_image_tag @user, :profile_image, size: '120x120', format:'jpg', fallback:"no_image.jpg" %>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-7 d-flex align-items-center justify-content-left">
      <strong>
        <%= @user.name %>
      </strong>
    </div>
  </div>

</div>