<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12">
      <p>
        本当に退会しますか？
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-6">
      <%= link_to "退会しない", users_my_page_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-6 col-sm-6 col-6">
      <%= link_to "退会する", users_withdraw_path, method: :patch, data: { confirm: "【確認】アカウントを削除してもよろしいですか？" }, class: "btn btn-danger" %>
    </div>
  </div>

</div>