<div class="container">
  <div class="row mb-5">
    <div class="col-md-12 col-sm-12 col-12 text-center">
      <h1>
        <strong>
          BouBag
        </strong>
      </h1>
    </div>
  </div>
  <div class="row text-center mb-2">
    <div class="col-md-12 col-sm-12 col-12">
      <h3>
        災害に備えよう !
      </h3>
    </div>
  </div>
  <div class="row text-center mb-5">
    <div class="col-md-12 col-sm-12 col-12">
      <p>
        BouBagは、あなたの防災グッズと非常食を管理します
      </p>
    </div>
  </div>
  <div class="row text-center mb-2">
    <div class="col-md-12 col-sm-12 col-12">
      <h3>
        フードロスを改善しよう !
      </h3>
    </div>
  </div>
  <div class="row text-center mb-5">
    <div class="col-md-12 col-sm-12 col-12">
      <p>
        消費期限の２週間前と当日にメールでお知らせします
      </p>
    </div>
  </div>
  <div class="row text-center mb-2">
    <div class="col-md-12 col-sm-12 col-12">
      <h3>
        離れて暮らす大切な人も守ろう !
      </h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12 col-sm-12 col-12">
      <p>
        離れて暮らす方の防災アイテムの状況を確認できます
      </p>
    </div>
  </div>

</div>