<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12">
      <h1>
        全アイテム一覧
      </h1>
    </div>
  </div>

  <div class="row">
    <% @items.each do |item| %>
    <div class="col-md-6 col-sm-6 col-6">
      <%= link_to item_path(item.id), method: :get do %>
        <%= item.name %>
      <% end %>
      <%= item.amount %>
      <%= item.expiration_date %>
    </div>
    <% end %>
  </div>

</div>