<div class="container">
  <div class="row">
    <% @categories.each do |category| %>
    <div class="col-md-12 col-sm-12 col-12">
      <%= category.name %>
    </div>
    <% end %>
  </div>
  <%= link_to "アイテム登録", new_item_path %>
</div>